name: QA

on:
  push:
    branches:
      - main
      - renovate/*

permissions:
  contents: read
  id-token: write

env:
  # renovate: datasource=github-releases depName=hashicorp/terraform versioning=hashicorp
  TERRAFORM_VERSION: "1.14.4"

jobs:
  qa:
    name: QA
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - name: Format Checkout
        run: terraform fmt -check -diff -recursive terraform

      - name: Lint
        run: make lint

      - name: Environment Info
        run: |
          echo "ref: ${{ github.ref }}"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
        with:
          role-to-assume: arn:aws:iam::022327457572:role/ks-infrastructure-maintainer
          aws-region: eu-west-1

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      - name: Terraform Plan
        run: terraform plan -lock-timeout=20m
        working-directory: terraform
