name: Deploy Infrastructure

on:
  push:
    branches:
      - main

permissions:
  actions: write
  contents: read
  id-token: write

concurrency:
  group: production

env:
  # renovate: datasource=github-releases depName=hashicorp/terraform versioning=hashicorp
  TERRAFORM_VERSION: "1.14.4"

jobs:
  deploy:
    environment:
      name: Production
      url: https://kitten-science.com
    name: Deploy
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6
        with:
          role-to-assume: arn:aws:iam::022327457572:role/ks-infrastructure-maintainer
          aws-region: eu-west-1

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      - name: Terraform Apply
        run: terraform apply -auto-approve -lock-timeout=20m
        working-directory: terraform

        # Ensure we only leave the deployment job for the latest
        # push in the action pipeline, after we have deployed this
        # change.
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@3155a141048f8f89c06b4cdae32e7853e97536bc # 0.13.0
        with:
          all_but_latest: true
