name: QA

on:
  push:
    branches:
      - main
      - renovate/*

permissions:
  contents: read
  id-token: write

env:
  # renovate: datasource=github-releases depName=hashicorp/terraform versioning=hashicorp
  TERRAFORM_VERSION: "1.14.5"

jobs:
  qa:
    name: QA
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: hashicorp/setup-terraform@5e8dbf3c6d9deaf4193ca7a8fb23f2ac83bb6c85 # v4
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - name: Format Checkout
        run: terraform fmt -check -diff -recursive terraform

      - name: Lint
        run: make lint

      - name: Environment Info
        run: |
          echo "ref: ${{ github.ref }}"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6
        with:
          role-to-assume: arn:aws:iam::022327457572:role/ks-infrastructure-maintainer
          aws-region: eu-west-1

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      - name: Terraform Plan
        run: terraform plan -lock-timeout=20m
        working-directory: terraform
